In [1]:
import os
from pathlib import Path

In [2]:
%pwd

'/home/priyanshu1303d/Projects/DeepQA_PyTorch/research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'/home/priyanshu1303d/Projects/DeepQA_PyTorch'

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('artifacts/data_ingestion/Dataset/100_Unique_QA_Dataset.csv')
df.head(10)

                                          question             answer
0                   What is the capital of France?              Paris
1                  What is the capital of Germany?             Berlin
2               Who wrote 'To Kill a Mockingbird'?         Harper-Lee
3  What is the largest planet in our solar system?            Jupiter
4   What is the boiling point of water in Celsius?                100
5                       Who painted the Mona Lisa?  Leonardo-da-Vinci
6                   What is the square root of 64?                  8
7            What is the chemical symbol for gold?                 Au
8                 Which year did World War II end?               1945
9          What is the longest river in the world?               Nile

In [7]:
df.isnull().sum()

question    0
answer      0
dtype: int64

# Tokenization (Breaking text into words)

In [8]:
def tokenize(text):
    text = text.lower()
    text = text.replace("?","")
    text = text.replace("'","")
    tokens =  text.split()
    return tokens

In [9]:
tokenize("What is the name of the best footballeR?")

['what', 'is', 'the', 'name', 'of', 'the', 'best', 'footballer']

# Building a Vocabulary (Word-to-Index Mapping)

In [10]:
vocab = {'<UNK>' : 0}

In [17]:
def build_vocab(row):
    tokenized_question = tokenize(row['question'])
    tokenize_answer = tokenize(row['answer'])

    
    merged_tokens = tokenized_question + tokenize_answer

    for token in merged_tokens:
        if token not in vocab:
            vocab[token] = len(vocab)

In [19]:
# df.apply(build_vocab, axis=1)

# Numericalization (Converting Words to Numbers)

In [12]:
def text_to_indices(text , vocab):

    indexed_text = []

    if token in vocab:
      indexed_text.append(vocab[token])
    else:
      indexed_text.append(vocab['<UNK>'])

    return indexed_text

# Padding & Batching (Handling Variable-Length Sequences)

# Modular Coding

In [13]:
import os 
from pathlib import Path

In [14]:
%pwd

'/home/priyanshu1303d/Projects/DeepQA_PyTorch'

In [15]:
from dataclasses import dataclass

In [16]:
@dataclass(frozen=True)
class DataPreProcessingConfig:

IndentationError: expected an indented block (2068750456.py, line 3)